* {
  color: rgb(32, 32, 32);
  font-family: 'Courier New', Courier, monospace;
}

.btn-light-outline {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  padding: 1rem 1.15rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-light-outline:hover {
  background-color: rgb(87, 87, 87);
}

.actions-bar {
  background-color: rgb(32, 32, 32);
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
}

.workout-list {
  list-style-type: none;
  padding: 0;
}

.workout-card {
  border: 2px solid rgb(32, 32, 32);
  box-shadow: 0px 5px 5px rgb(32, 32, 32);
  margin: 2rem;
  padding: 1rem 2rem;
}

.workout-info {
  display: inline-flex;
  gap: 1rem;
  margin: 0;
}

.workout-title {
  font-size: 1.7rem;
  margin: 0.3rem 0 1rem;
}
